* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Banner Section */

#banner-section {
    height: 100vh;
    background-image: url("../assets/back1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 10px solid white;
}

.banner-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-content h1 {
    color: white;
    font-size: 2.5em;
}

.banner-content button {
    color: white;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
    border: 3px double white;
    outline: none;
}

.banner-buttons {
    transform: rotate(45deg);
}

.banner-buttons button span {
    display: inline-block;
    transform: rotate(-45deg);
}

.banner-buttons button{
    height: 100%;
    width: 100%;
}

.banner-buttons > button {
    height: 150px;
    width: 150px;
    margin: 5px 0 5px 0;
}

.banner-buttons > div {
    height: 75px;
    width: 75px;
}

.banner-buttons div:nth-last-of-type(1) {
    width: 100%;
}

.banner-buttons div:nth-last-of-type(1) button {
    width: 50%;
    float: right;
}

/* Park Section */

#park-section {
    height: auto;
    padding: 50px 0 50px 0;
    background-image: url("../assets/park1.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

#park-section h1 {
    color: white;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 50px;
}

.pic {
    height: auto;
    width: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.park1 div:nth-of-type(1), .park2 div:nth-of-type(1), .park3 div:nth-of-type(1) {
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.park1 img, .park2 img, .park3 img {
    height: auto;
    width: 300px;
    border: 3px solid orange;
    border-radius: 100px;
    margin-bottom: 10px;
}

.line {
    background-color: orange;
    height: 5px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    top: -15px;
}

.description {
    color: white;
    width: 500px;
    background-color: orange;
    padding: 5px;
    border: 3px solid white;
    text-align: center;
}

/*
.pic {
    height: auto;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: red;
}

.pic > p {
    color: white;
    font-size: 1.5em;
}

.park1 img, .park2 img, .park3 img {
    height: auto;
    width: 300px;
    border: 3px solid orange;
    border-radius: 100px;
    margin-bottom: 20px;
}
*/